
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);

    @if $raw-query {
        $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));

        @media #{$query} {
            @content;
        }
    } @else {
        @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
    }
}

@mixin clearfloat {
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.roundedborder {
    @include border-radius (.2em);
    border: 2px solid darken($indigo, 10%);
}

.global-width {
    max-width: 1406px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

// Container
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: #{$global-glutter/2};
    padding-right: #{$global-glutter/2};
    @include respond-to('small') {
        width: calc(#{$breakpoint-small});
    }

    @include respond-to('medium') {
        width: calc(#{$breakpoint-medium});
    }

    @include respond-to('large') {
        width: calc(#{$breakpoint-large});
    }

    &--full {
        width: 100%;
    }
}

// Grid styles
.grid-row {
    @include clearfloat();
    margin-left: #{-1*$global-glutter/2};
    margin-right: #{-1*$global-glutter/2};
    width: auto;

    &__col {
        float: left;
        padding-left: #{$global-glutter/2};
        padding-right: #{$global-glutter/2};
        width: 100%;

        @each $name, $breakpoint in $breakpoints-grid {
            @include respond-to($breakpoint) {
                @for $i from 1 through $grid-col-count {
                    &--#{$name}-#{$i} {
                        width: #{($i/$grid-col-count)*100%};
                    }
                }

                &--#{$name}-hidden {
                    display: none;
                }
            }
        }
    }
}

.button {
    &--submit {
        display: inline-block;
        margin: 5px 0;
        padding: 5px 10px;
    }
}

// Register form styles
.form {
    &__label {
        display: block;
        font-weight: bold;

        &--error {
            color: $red;
        }
    }

    &__input {
        border: 1px solid $grey;
        width: 100%;
        padding: 5px;
        margin-bottom: $global-glutter;
        outline: 0;

        &:hover {
            box-shadow: 0 1px 2px 0 rgba($blue, 0.2);
        }

        &:focus {
            box-shadow: 0 1px 3px 0 rgba($blue, 0.5);
        }

        &--error {
            border-color: $red;
        }
    }

    &__button {
        text-align: right;

        &--center {
            text-align: center;
        }

        &--left {
            text-align: left;
        }

    }
}



